*.cbp
*.layout
*.depend
*.cpp.save
*.txt
bin/
obj/
.vscode
.vs
*.exe*
*.i
*.o
*.in
*.out
*.zip
*.t
*.7z
*.tcs
*.bin
*.exp
*.lib
.cph/
*.lib
*.dll*
*.filters
*.user
*.pdb
*.idb
*.*log
*.obj
*.pch
*.ilk
